
body{
    
    background-color: #f1fbff;
}

/* * ------ Estilos del navBar --------------------------- */
.navbar a{
    font-weight:700;
}
.nav-link:hover{
    text-decoration: underline;
    
}
.nav-link:focus{
    text-decoration: underline;}

/* *----- Estilos del carrusel --------------------------- */

.carrousel-container{
    margin-bottom: 40px;

}
.carousel-inner::before{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0 , 0, 0, 0.6);
    z-index: 1;
}
.carousel-caption{
    z-index: 2;
}

.services{
    margin-top: 100px;
}
/* -------------------------------------------------------------------------- */
/* *------------------------- estilos de las targetas ------------------------ */
.card-body img{
    height: 200px;
    
}
.card {
    margin-bottom: 28px;
    
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
}